 # pandas

In [21]:
import pandas as pd

In [22]:
a = pd.DataFrame([{'a':1, 'b':4}, {'b':-3, 'c':9}])

In [23]:
a

     a  b    c
0  1.0  4  NaN
1  NaN -3  9.0

In [24]:
a.fillna(0)

     a  b    c
0  1.0  4  0.0
1  0.0 -3  9.0

In [25]:
b = pd.Series(['a', 'b', 'c'],index=[1,3,5])

In [26]:
b

1    a
3    b
5    c
dtype: object

In [27]:
b[1]

'a'

In [28]:
b[1:3]

3    b
5    c
dtype: object

In [29]:
b.loc[1:3]

1    a
3    b
dtype: object

In [30]:
b.iloc[1:3]

3    b
5    c
dtype: object

In [31]:
marks = {'A':85, 'B':75, 'C':65, 'D':55}
grades = {'A':4.0, 'B':3.5, 'C':3.0, 'D':2.5}

In [39]:
marks1 = pd.Series(marks)
grades1 = pd.Series(grades)

In [43]:
d = pd.DataFrame({'Marks':marks1,'Gades':grades1})

In [44]:
d

   Marks  Gades
A     85    4.0
B     75    3.5
C     65    3.0
D     55    2.5

In [45]:
d.iloc[2, :]

Marks    65.0
Gades     3.0
Name: C, dtype: float64

In [50]:
d.iloc[::-1, :]

   Marks  Gades
D     55    2.5
C     65    3.0
B     75    3.5
A     85    4.0