# CSV file read write

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('E:/archive/covid_19_data2.csv')

In [23]:
df.head(1)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,1/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0

In [24]:
df.drop(['SNo', 'Last Update'], axis=1, inplace = True)

In [25]:
df.head(1)

  ObservationDate Province/State  Country/Region  Confirmed  Deaths  Recovered
0       1/22/2020          Anhui  Mainland China          1       0          0

In [34]:
df2 = df.rename({'ObservationDate':'Date', 'Province/State':'Province', 'Country/Region':'Country'},axis=1)

In [35]:
df2.head(1)

        Date Province         Country  Confirmed  Deaths  Recovered
0  1/22/2020    Anhui  Mainland China          1       0          0

In [36]:
df2['Date'] = pd.to_datetime(df2['Date'])

In [37]:
df2.head(1)

        Date Province         Country  Confirmed  Deaths  Recovered
0 2020-01-22    Anhui  Mainland China          1       0          0

In [39]:
df3 = df2.groupby("Country")[['Confirmed' ,'Deaths', 'Recovered']].sum().reset_index()

In [41]:
df3.head(5)

           Country  Confirmed  Deaths  Recovered
0       Azerbaijan          1       0          0
1  ('St. Martin',)          2       0          0
2      Afghanistan   11651049  434582    8710952
3          Albania    8319315  170096    4803229
4          Algeria   16779265  544860   11373181

In [46]:
df4 = df.groupby(['Country', 'Deaths'])[['Confirmed', 'Recovered']].sum().reset_index()
pd.set_option('display.max_rows', None)

In [50]:
df4.head(10)

           Country  Deaths  Confirmed  Recovered
0       Azerbaijan       0          1          0
1  ('St. Martin',)       0          2          0
2      Afghanistan       0        259          6
3      Afghanistan       1        118          3
4      Afghanistan       2         76          2
5      Afghanistan       3        171          4
6      Afghanistan       4        983         26
7      Afghanistan       8        275         10
8      Afghanistan      10        300         10
9      Afghanistan      12        338         15

In [51]:
df4.describe()

              Deaths     Confirmed     Recovered
count   70328.000000  7.032800e+04  7.032800e+04
mean     4100.910235  1.918192e+05  1.138682e+05
std      7918.286082  4.271988e+05  2.065304e+06
min      -178.000000 -2.819000e+05 -7.746460e+05
25%       383.000000  2.963400e+04  7.945000e+02
50%      1457.500000  8.203550e+04  2.637600e+04
75%      4202.000000  2.114858e+05  1.050365e+05
max    108208.000000  6.929496e+07  5.033709e+08

In [52]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70328 entries, 0 to 70327
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    70328 non-null  object
 1   Deaths     70328 non-null  int64
 2   Confirmed  70328 non-null  int64
 3   Recovered  70328 non-null  int64
dtypes: int64(3), object(1)
memory usage: 2.1+ MB